<div class="pushdown">
    <div class="card-container-profile">
        <mat-card *ngIf="artist" class="profile-card">
            <mat-card-title-group>
                <mat-card-title>{{artist.name}}</mat-card-title>
            </mat-card-title-group>
            <mat-card-title-group>
                <img mat-card-image [src]="'/assets/images/placeholder-user.jpg'" height="300%">
            </mat-card-title-group>

            <mat-card-title-group>
                <mat-card-subtitle>Email: {{artist.email}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-title-group>
                <mat-card-subtitle>Description: {{artist.description}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-title-group>
                <mat-card-subtitle>Genres:</mat-card-subtitle>
            </mat-card-title-group>
            <mat-chip-list>
                <mat-chip *ngFor="let genre of artist.genres">{{genre}}</mat-chip>
            </mat-chip-list>
            <div class="button-container">
            <button mat-raised-button class="edit-button" color="primary" (click)="openEdit()">Edit</button>
            <button mat-raised-button class="message-button" color="primary" (click)="openMessage()">Message</button>
            </div>
        </mat-card>
        <mat-card class="side-picture">
            <img mat-card-image [src]="'/assets/images/soundcloud.png'" height="100%">
        </mat-card>
    </div>
    <div class="artist-calendar">
        <mwl-calendar-month-view

                (dayClicked)= "openConfirm($event)"
                [viewDate]="viewDate"
                [events]="events">
        </mwl-calendar-month-view>
    </div>
</div>
