md-card {
    padding: 1em;
}

md-chip-list {
    margin-bottom: 3em;
}

md-chip-list md-chip {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    margin-bottom: 0.5em;
}
md-chip {
}

/* Card CSS */
.profile-card {
    margin-top: 5em;
    width: 20em;
    padding-bottom: .5em;
}

.edit-button {
    margin-top: 1em;
    margin-left: .5em;
}
.profile-picture{
    width:200px;
}