<md-card *ngIf="artist" class="profile-card">
    <md-card-title-group>
        <md-card-title>{{artist.name}}</md-card-title>
    </md-card-title-group>

    <md-card-title-group>
        <md-card-subtitle>Artist Name: {{artist.name}}</md-card-subtitle>
    </md-card-title-group>

    <md-card-title-group>
        <md-card-subtitle>Email: {{artist.email}}</md-card-subtitle>
    </md-card-title-group>

    <button md-button class="edit-button" (click)="openEdit()" color="primary">Edit</button>
</md-card>