mat-card {
    padding: 1em;
    color: #263238;
}

mat-card mat-card-subtitle {
    color: #263238;
}

mat-chip-list {
    margin-bottom: 3em;
}

mat-chip-list mat-chip {
    margin-bottom: 0.5em;
}
mat-chip {
}

/* Card CSS */
.profile-card {
    width: 20em;
    padding-bottom: .5em;
}

.edit-button {
    margin-top: 1em;
    margin-left: .5em;
}
.message-button {
    margin-top: 1em;
    margin-left: .5em;
}
.profile-picture{
    width:200px;
}

.info-name {
    font-weight: bold;
}

.side-picture{
    width: 800px;
}
.card-container-profile {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.artist-calendar{
    margin-left:10%;
    margin-right:10%;
}

.card-field-wrapper {
    margin-top: 2em;
}

.field-name {
    font-weight: bold;
}

.chip-container {
    padding-left: 1em;
    padding-right: 1em;
}
.SocialMediaButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 80%;
    margin: 0px 10% 0px 10%;
}

.grow { transition: all .2s ease-in-out;
cursor: pointer;
}
.grow:hover { transform: scale(1.1); }