.editLink
{
    cursor: pointer;
    color: #1c94c4;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #555;
}
.inline{
    vertical-align:top;
    display:inline-block;

}
.parent-image-soundcloud{
    width:auto;
    background-color: #e;
}

.section{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width:100%;
    height:auto;
}