<mat-card class="register-card">
    <mat-card-title>Register Venue</mat-card-title>
    <div>
        <mat-input-container>
            <input matInput placeholder="Name" type="text" [(ngModel)]="name" name="name" class="form-control" required>
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Email" type="text" [(ngModel)]="email" name="email" class="form-control">
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Description" type="text" [(ngModel)]="description" name="description" class="form-control" required>
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Location" type="text" [(ngModel)]="location" name="location" class="form-control" required>
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Capacity" type="text" [(ngModel)]="capacity" name="capacity" class="form-control" required>
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Hours of Operation" type="text" [(ngModel)]="hours" name="hours" class="form-control" required>
        </mat-input-container>
        <p class="genres-title">Genres: </p>
        <div class="chips-wrapper">
            <td-chips placeholder="Enter a genre" [(ngModel)]="genres"></td-chips>
        </div>
        <div class="upload-container">
            <image-upload (onFileUploadFinish)="imageUploadedToBrowser($event)"
                          [buttonCaption]="'Select Image'">
            </image-upload>
        </div>
        <button mat-raised-button type="submit" class="register-button" color="primary" (click)="onRegisterSubmit()">Register</button>
    </div>
</mat-card>
