<form>
    <div class="input-group">
        <input type="text"
               id="query"
               [(ngModel)]="name"
               name="query"
               class="form-control"
               placeholder="Search..."
               aria-describedby="sizing-addon2"

        />
        <span class="input-group-btn">
             <button
                     type="submit"
                     class="btn btn-default search-button"
                     (click)="getResults()">Search</button>
        </span>
    </div>
    <ul>
        <li *ngFor="let result of results"><a href="#">{{result.name}}</a></li>
    </ul>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <app-search-result *ngFor="let foobar of searchResults" [searchResult]="foobar"></app-search-result>
        </div>
    </div>
</form>