md-card {
    padding: 2% 2% 2% 2%;
}

md-card-title {
    text-align: center;
}

md-input-container {
    width: 100%;
}

md-checkbox {
    margin-right: 0.5em;
    margin-top: 1em;
}

.register-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5em;
    width: 30%;
}

.register-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upload-container {
    margin-bottom: 1em;
}

.genres-title {
    color: darkgray;
}

.checkbox-container {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

