<md-card class="register-card">
    <md-card-title>Register Artist</md-card-title>
        <form (submit)="onRegisterSubmit()">
            <md-input-container>
                <input mdInput placeholder="Name" type="text" [(ngModel)]="name" name="name" class="form-control" required>
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Email" type="text" [(ngModel)]="email" name="email" class="form-control" required>
            </md-input-container>
            <div class="upload-container">
                <image-upload (onFileUploadFinish)="imageUploadedToBrowser($event)"
                              [buttonCaption]="'Select Image'">
                </image-upload>
            </div>
        <button md-raised-button type="submit" class="register-button" color="primary">Register</button>
        </form>
</md-card>