<div class="flex-container">


    <artist-result *ngFor="let aArtistResult of artistResults"
                   [artistResult]="aArtistResult"></artist-result>
    <venue-result *ngFor="let aVenueResult of venueResults" [venueResult]="aVenueResult"></venue-result>



</div>

<div class="flex-container">

    <md-card class="dashboard-card">

        <div class="register-section">
            <md-card-title>Create New Band</md-card-title>
            <md-card-content>Click here if you're an band looking to find shows to book.
            </md-card-content>
            <button class="register-button" md-raised-button color="primary" [routerLink]="['/registerArtist']">Register
                Artist
            </button>
        </div>

    </md-card>
    <md-card class="dashboard-card">


        <div class="register-section2">
            <md-card-title>Create New Venue</md-card-title>
            <md-card-content>Click here if you want to book some bands.</md-card-content>
            <button class="register-button" md-raised-button color="primary" [routerLink]="['/registerVenue']">Register
                Venue
            </button>
        </div>
    </md-card>

</div>

<div class="dashboard-calendar">
    <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events">
    </mwl-calendar-month-view>
</div>
