.dashboard-card {
    margin-top: 4em;
}

md-card {
    padding-bottom: 1em;
}

md-card-title {
    text-align: center;
    font-size: 2em;
}

md-card-subtitle {
    font-size: 1.5em;
    text-align: center;
}

md-card-content {
    text-align: center;
    font-size: 1em;
}

.register-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.register-section {
    margin-bottom: 2.5em;
    display: inline-block;
}

.register-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}