.dashboard-card {
    margin-top: 2em;
    display: inline-block;
    width: 300px;
    height: 200px;
    padding :20px;
}

md-card {
    padding-bottom: 1em;
}

md-card-title {
    text-align: center;
    font-size: 2em;
}

md-card-subtitle {
    font-size: 1.5em;
    text-align: center;
}

md-card-content {
    text-align: center;
    font-size: 1em;
}

.register-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.register-section {

    margin-bottom: 2.5em;
    display: inline-block;
}

.register-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.register-section2 {
    margin-bottom: 2.5em;
}

.dashboard-calendar {
    margin-left:10%;
    margin-right:10%;

}
.dashboard-card-section {
    display: flex;
    position: static;
    width:100%;
height: auto;
    justify-content: space-around;
}

.entity-container {
    width: 100%;
    height: auto;
}