<md-card *ngIf="venue" class="profile-card">
  <md-card-title-group>
    <md-card-title>{{venue.name}}</md-card-title>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Venue Name:</span> {{venue.name}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Email:</span> {{venue.email}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Description:</span> {{venue.description}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Location:</span> {{venue.location}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Capacity:</span> {{venue.capacity}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle><span class="info-name">Genres:</span> </md-card-subtitle>
  </md-card-title-group>

  <md-chip-list>
    <md-chip *ngFor="let genre of venue.genres">{{genre}}</md-chip>
  </md-chip-list>

  <button md-raised-button color="primary" class="edit-button" (click)="openEdit()">Edit</button>
</md-card>