<mat-card class="login-card">

<mat-card-title>Login</mat-card-title>
<form (submit)="onLoginSubmit()">
  <mat-input-container>
    <input matInput placeholder="Username" type="text" class="form-control" [(ngModel)]="username" name="username" required>
  </mat-input-container>
  <mat-input-container>
    <input matInput placeholder="Password" type="password" class="form-control" [(ngModel)]="password" name="password" required>
  </mat-input-container>
  <button mat-raised-button type="submit" class="login-button" color="primary">Login</button>
</form>
</mat-card>