/* You can add global styles to this file, and also import other style files */

.pushdown{
    position: absolute;
    top:42px;
    width: 100%;

}
.white-text {
    color: #FFF!important;
}
.mat-toolbar-row{
    height:42px !important;
}
.mat-toolbar{
    min-height: 42px !important;
}
.side-margin{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top:42px;
    width: 100%;
    background-color: #eeeeee;
}
.profile-image{
display: inline-block;

    width: 33%;
    height: 50%;


    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}