/* You can add global styles to this file, and also import other style files */

.white-text {
    color: #FFF!important;
}
.mat-toolbar-row{
    height:42px !important;
}
.mat-toolbar{
    min-height: 42px !important;
}
.side-margin{
    margin-left: 40px;
    margin-right: 40px;
}
.profile-image{
    position:relative;
    top: -120px;
    left: 20px;

    width: 200px;
    height: 200px;
    border-radius: 50%;
}