/* You can add global styles to this file, and also import other style files */

.pushdown{
    position: absolute;
    top:42px;
    width: 100%;

}
.white-text {
    color: #FFF!important;
}
.mat-toolbar-row{
    height:42px !important;
}
.mat-toolbar{
    min-height: 42px !important;
}
.side-margin{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:20px;

    position: relative;
    top:42px;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}
.profile-image{
display: inline-block;

    width: 33%;
    height: 50%;
}
.soundcloud-image{

    display: inline-block;
    width: 60%;
    height: 50%;
    margin-right: auto;
}

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #F7F7F7 !important;
}

body {
    background-color: #F7F7F7 !important;
}

md-card {
    background-color: #FBFBFB !important;
}
