.editLink
{
    cursor: pointer;
    color: #1c94c4;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #555;
}

/* Card CSS */
.profile-card {
    margin-top: 2em;
    width: 40em;
    padding-bottom: .5em;
}

.edit-button {
    margin-left: .5em;
}