<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}} <a class="editLink" (click)="toggleEditUsername()">Edit</a></li>
    <li *ngIf="editUsernameField" class="list-group-item"> <input type="text" [(ngModel)]="usernameField"> <button class="btn-success" (click)="changeUsername()">Save</button> <button class="btn-danger" (click)="toggleEditUsername()">Cancel</button></li>

    <li class="list-group-item">Email: {{user.email}} <a class="editLink" (click)="toggleEditEmail()">Edit</a></li>
    <li *ngIf="editEmailField" class="list-group-item"> <input type="text" [(ngModel)]="emailField"> <button class="btn-success" (click)="changeEmail()">Save</button> <button class="btn-danger" (click)="toggleEditEmail()">Cancel</button></li>
  </ul>
</div>


<md-card *ngIf="user" class="profile-card">
  <md-card-title-group>
    <md-card-title>{{user.name}}</md-card-title>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle>Username: {{user.username}}</md-card-subtitle>
  </md-card-title-group>

  <md-card-title-group>
    <md-card-subtitle>Email: {{user.email}}</md-card-subtitle>
  </md-card-title-group>

  <button md-button color="primary" class="edit-button" (click)="openEdit()">Edit</button>

</md-card>