<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-list>
      <p class="messages-title">Messages</p>
      <mat-list>
        <mat-list-item>Artist One</mat-list-item>
        <mat-list-item>Artist Two</mat-list-item>
        <mat-list-item>Artist Three</mat-list-item>
        <mat-list-item>Artist Four</mat-list-item>
      </mat-list>
    </mat-list>
  </mat-sidenav>
  <div class="main-content">

    <mat-card class="notification-card">
      <mat-card-title>Contract Request</mat-card-title>
      <div class="card-content">
        <p class="card-text">
          <strong>Artist</strong> would like to initiate a contract with you on the following date: <strong>24 September 2018</strong>
        </p>
        <div class="button-container">
          <button mat-raised-button color="primary">Accept</button>
          <button mat-raised-button color="warn">Cancel</button>
        </div>
      </div>
    </mat-card>

  </div>
</mat-sidenav-container>