<div class="pushdown">
    <h2 class="page-header" style="text-align: center;">Discover</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" align="center">
                <div class="card">
                    <h3 class="title">Artists</h3>
                    <p class="info">Search for Artists and Bands.</p>
                    <a class="btn btn-primary" [routerLink]="['/search/artist']">Go</a>
                </div>
            </div>

            <div class="col-sm-6" align="center">
                <div class="card">
                    <h3 class="title">Venues</h3>
                    <p class="info">Search for Venues to play at.</p>
                    <a class="btn btn-primary" [routerLink]="['/search/venue']">Go</a>
                </div>
            </div>


        </div>
    </div>
</div>