.card-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
  margin:10px;
    display: inline-block;
    font-size: 22px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
}

.artist-section{
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width:100%;
    height:auto;
}