<mat-card class="register-card">
  <mat-card-title>Register</mat-card-title>
  <form (submit)="onRegisterSubmit()">
      <mat-input-container>
        <input matInput placeholder="Name" type="text" [(ngModel)]="name" name="name" class="form-control" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="username" class="form-control" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Email" type="text" [(ngModel)]="email" name="email" class="form-control" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" class="form-control" required>
      </mat-input-container>
    <button mat-raised-button type="submit" class="register-button" color="primary">Register</button>
  </form>
</mat-card>
