mat-card {
    padding: 2% 2% 2% 2%;
}

mat-card-title {
    text-align: center;
}

mat-input-container {
    width: 100%;
}

.register-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5em;
    width: 30%;
}

.register-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*body {*/
    /*background-image: url('../../../assets/images/background-two.jpg') !important;*/
    /*background-size: cover !important;*/
/*}*/
