<form>
    <div class="input-group">
        <input type="text"
               id="query"
               [(ngModel)]="artistName"
               name="query"
               class="form-control"
               placeholder="Search..."
               aria-describedby="sizing-addon2"

        />
        <span class="input-group-btn">
             <button
                     type="submit"
                     class="btn btn-default search-button"
                     (click)="getResults()">Search</button>
        </span>
    </div>
</form>

<!--
<md-select placeholder="Genre" multiple="true">
    <md-option>Electronic</md-option>
    <md-option>Metal</md-option>
</md-select>
-->

<div class="card-deck-wrapper">
    <div class="card-deck">
        <artist-result *ngFor="let aArtistResult of artistResults" [artistResult]="aArtistResult"></artist-result>
    </div>
</div>
