<div class="jumbotron text-center">
  <h1>ConcertConnect</h1>
  <p class="lead">Register Now</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4" align="center">
    <h3 class="text-center">Artist</h3>
    <p>Click here if you're an artist looking to find bands to join or shows to book.</p>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  </div>
  <div class="col-md-4" align="center">
    <h3 class="text-center">Band</h3>
    <p>Click here if you are in a band looking to find artists to join or shows to book.</p>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  </div>
  <div class="col-md-4" align="center">
    <h3 class="text-center">Venue</h3>
    <p>Click here if you want to book some artists and bands.</p>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  </div>
</div>
