
mat-toolbar {
    overflow: hidden;
}

.dropdown-container {

}

.main-nav-button {
    width: 6em;
}
.mat-toolbar-concertconnect {
    padding-left: 20px;
    padding-right: 20px;
    top:0px;
    z-index: 9;
}

.demo-toolbar-icon {
    padding: 0 14px;
}

.demo-fill-remaining {
    flex: 1 1 auto;
}

.title {
    margin-right: 1em;
}

.right {
    float: right;
}

.demo-menu {
    display: flex;
    flex-flow: row wrap;
}

.menu-section {
    width: 300px;
    margin: 20px;
}

.end-icon {
    align-items: flex-end;
}

.dropdown {
     margin-right: 1em;
     width: 5%;
 }
.dropdown-settings {
    margin-right: 10px;

}

.dropdown-category {
    background-color: #f7f7f7;
}