<!--
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ConcertConnect</a>
        </div>
        <div id="navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li *ngIf="authService.loggedIn()" class="{{profileValue}} hover"><a (click)="profileClick()" >Profile</a></li>

            <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/discover']">Discover</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Register</a></li>

            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']">Login</a></li>

            <li *ngIf="authService.loggedIn() && authService.accountExist()" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{{toggleValue}} <b class="caret"></b></a>

              <ul class="dropdown-menu">

                <!-- Putting all three under a single and using ngIf causes layout issue, fix later, use ngcontainer
                <li *ngIf="authService.artistExist() || authService.venueExist()" class="divider"></li>
                <li *ngIf="authService.artistExist() || authService.venueExist()" class="item"><a>User</a></li>
                <li *ngIf="authService.artistExist() || authService.venueExist()" class="divider"></li>

                <li *ngIf="authService.artistExist() || authService.venueExist()" class="hover"><a (click)="changeUser()">{{userName}}</a></li>

                <li *ngIf="authService.artistExist()" class="divider"></li>
                <li *ngIf="authService.artistExist()" class="item"><a>Artists</a></li>
                <li *ngIf="authService.artistExist()" class="divider"></li>

                <li *ngFor="let artist of authService.getArtists()" (click) = "changeUserArtist(artist,artist.name)" class="hover"><a href="#">{{artist.name}}</a></li>

                <li *ngIf="authService.venueExist()" class="divider"></li>
                <li *ngIf="authService.venueExist()" class="item"><a>Venues</a></li>
                <li *ngIf="authService.venueExist()" class="divider"></li>

                <li *ngFor="let venue of authService.getVenues()" (click)="changeUserVenue(venue,venue.name)" class="hover"><a href="#">{{venue.name}}</a></li>

              </ul>

            </li>
            <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>

          </ul>
        </div>
      </div>
    </nav>
-->

<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/dashboard']" class="item">Dashboard</a>
    <a *ngIf="authService.loggedIn()"  [ngClass]="{'active': profileValue!='' }" (click)="profileClick()" class="item">Profile</a>
    <a [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/discover']" class="item">Discover</a>

    <div class="right menu">
      <a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/register']" class="item">Register</a>
      <a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/login']"  class="item">Log In</a>


        <div *ngIf="authService.loggedIn() && authService.accountExist()" class="ui dropdown item">{{toggleValue}}
          <div class="menu">


            <div  class="item" (click)="changeUser()">{{userName}}</div>


            <div *ngFor="let artist of authService.getArtists()"  class="item">{{artist.name}}</div>




<!--
          <div *ngIf="authService.venueExist()">
            <a *ngFor="let venue of authService.getVenues()" (click)="changeUserVenue(venue,venue.name)" class="item">{{venue.name}}</a>
          </div>
-->



           <div class="item">Test Item</div>
          </div>
        </div>

      <a *ngIf="authService.loggedIn()" (click)="onLogoutClick()" class="item">Logout</a>

    </div>

  </div>
</div>

