.example-card {
    width: 300px;
    padding: 20px;
}

.example-header-image {
    background-image: url('../artist-result/placeholder-user.jpg');
    background-size: cover;
}
.background-image-size{
    height: 150px;
    width:300px;

}

